@import '../../scss/variables';
.third {
  @include flexColumn;
  @include flexAlignItems;
  color: #bcc9db;
  gap: 24px;
  margin: 50px 0;
  h1 {
    letter-spacing: 0.5em;
    margin-top: 80px;
  }
}
.faq {
  @include flexColumn;
  @include borderAndPadding24;
  background: rgba(188, 201, 219, 0.05);
  gap: 10px;
  width: 70%;
  height: fit-content;
  cursor: pointer;
  &__q {
    @include flexSpaceBetweenAndAlignItems;
    font-size: 22px;
    img {
      transform: rotate(180deg);
      transition: 0.3s;
    }
  }
  p {
    color: #fff;
    height: 0;
    overflow: hidden;
  }
  &__show {
    height: auto !important;
    opacity: 1;
  }
}
