@import '../../scss/variables';
.country {
  @include flexAlignItems;
  gap: 15px;
  padding: 12px 24px;
  background: rgba(188, 201, 219, 0.05);
  border-radius: 12px;
  transition: 0.3s;
  border: 3px solid transparent;
  cursor: pointer;
  &:hover {
    background: rgba(188, 201, 219, 0.2);
    border-color: $green;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 40px;
    color: #bcc9db;
  }

  &__img {
    position: relative;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: black;
    }
  }

  &__info {
    &__ss {
      display: flex;
      width: 300px;
      // justify-content: space-between;
      position: relative;
      p {
        // left: auto;
        position: absolute;
        color: red;
        right: 0;
      }
    }
    p {
      font-size: 18px;
      opacity: 0.4;
    }
  }
}

.nice {
  // opacity: b;
  background: rgba(255, 0, 0, 0.05);
}

.notNice {
  .qq {
    color: green;
  }
}

// .qq {
//   margin-left: auto;
//   left: auto;
// }
